<h3>Post Form</h3>

<%= form_for(@post) do |form| %>

  <label>Post title:</label><br>
  <%= form.text_field :title %><br>

  <label>Post Description</label><br>
  <%= form.text_area :description %><br>

  <%= form.submit %>
<% end %>
