<h3>Post Form</h3>

<%= form_tag post_path(@post), method: "patch" do %>
  <label>Post title:</label><br>
  <%= text_field_tag :title,nil, {id: "post[title]", value: @post.title} %><br>

  <label>Post Description</label><br>
  <%= text_area_tag :description,nil, {id: "post[description]", value: @post.title} %><br>

  <%= submit_tag "Submit Post", id: "Update Post" %>
<% end %>
